-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: dutch_pay
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `avatars`
--

DROP TABLE IF EXISTS `avatars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `avatars` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `body` varchar(50) DEFAULT NULL,
  `eyes` varchar(50) DEFAULT NULL,
  `mouth` varchar(50) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `ix_avatars_id` (`id`),
  CONSTRAINT `avatars_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avatars`
--

LOCK TABLES `avatars` WRITE;
/*!40000 ALTER TABLE `avatars` DISABLE KEYS */;
/*!40000 ALTER TABLE `avatars` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `badges`
--

DROP TABLE IF EXISTS `badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `badges` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text,
  `icon` varchar(255) DEFAULT NULL,
  `badge_type` varchar(50) DEFAULT NULL,
  `condition_code` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `ix_badges_id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badges`
--

LOCK TABLES `badges` WRITE;
/*!40000 ALTER TABLE `badges` DISABLE KEYS */;
/*!40000 ALTER TABLE `badges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `game_results`
--

DROP TABLE IF EXISTS `game_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `game_results` (
  `id` int NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `game_type` enum('PINBALL_ROULETTE','BOMB','PSYCHOLOGICAL') NOT NULL,
  `participants` json NOT NULL,
  `loser_participant_id` int NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `settlement_id` int DEFAULT NULL,
  `game_data` json DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `group_id` (`group_id`),
  KEY `loser_participant_id` (`loser_participant_id`),
  KEY `settlement_id` (`settlement_id`),
  KEY `ix_game_results_id` (`id`),
  CONSTRAINT `game_results_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups` (`id`),
  CONSTRAINT `game_results_ibfk_2` FOREIGN KEY (`loser_participant_id`) REFERENCES `group_participants` (`id`),
  CONSTRAINT `game_results_ibfk_3` FOREIGN KEY (`settlement_id`) REFERENCES `settlements` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `game_results`
--

LOCK TABLES `game_results` WRITE;
/*!40000 ALTER TABLE `game_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `game_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `group_participants`
--

DROP TABLE IF EXISTS `group_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `group_participants` (
  `id` int NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `user_id` int DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `is_admin` tinyint(1) DEFAULT NULL,
  `joined_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `group_id` (`group_id`),
  KEY `user_id` (`user_id`),
  KEY `ix_group_participants_id` (`id`),
  CONSTRAINT `group_participants_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups` (`id`),
  CONSTRAINT `group_participants_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `group_participants`
--

LOCK TABLES `group_participants` WRITE;
/*!40000 ALTER TABLE `group_participants` DISABLE KEYS */;
INSERT INTO `group_participants` VALUES (1,1,1,'?덉?',1,'2026-01-20 11:42:12'),(2,1,NULL,'??,0,'2026-01-20 11:42:12'),(3,1,NULL,'?λ삦',0,'2026-01-20 11:42:12'),(4,1,NULL,'?λ삦??,0,'2026-01-20 11:42:12'),(5,1,NULL,'?깅슧??,0,'2026-01-20 11:42:12'),(6,2,1,'?덉?',1,'2026-01-20 11:43:29'),(7,2,NULL,'2??,0,'2026-01-20 11:43:29'),(8,2,NULL,'2??3',0,'2026-01-20 11:43:29'),(9,2,NULL,'643??,0,'2026-01-20 11:43:29'),(10,2,NULL,'346',0,'2026-01-20 11:43:29'),(11,2,NULL,'36',0,'2026-01-20 11:43:29'),(12,3,10,'以??,1,'2026-01-21 08:08:06'),(13,3,NULL,'?덉?',0,'2026-01-21 08:08:06'),(14,3,11,'?뺤슦',0,'2026-01-21 08:08:06'),(15,3,12,'?쒖뿰',0,'2026-01-21 08:08:06'),(16,3,13,'吏??,0,'2026-01-21 08:08:06'),(17,3,15,'誘쇱꽍(??',0,'2026-01-21 08:08:06'),(18,3,18,'誘쇱꽍(??',0,'2026-01-21 08:08:06'),(19,3,19,'?뱀슫',0,'2026-01-21 08:08:06'),(20,3,20,'?곗＜',0,'2026-01-21 08:08:06'),(21,3,21,'梨꾩썝',0,'2026-01-21 08:08:06'),(22,3,22,'?곷쾾',0,'2026-01-21 08:08:06'),(23,3,23,'?쒖쭊',0,'2026-01-21 08:08:06'),(24,3,24,'?쒖슦',0,'2026-01-21 08:08:06'),(25,3,25,'?뚰쁽',0,'2026-01-21 08:08:06'),(26,3,26,'?숉씗??,0,'2026-01-21 08:08:06'),(27,3,27,'?숉씗??,0,'2026-01-21 08:08:06'),(28,3,28,'誘쇨린',0,'2026-01-21 08:08:06'),(29,3,29,'以??,0,'2026-01-21 08:08:06'),(30,3,30,'?몄듅',0,'2026-01-21 08:08:06'),(31,3,NULL,'?깅?',0,'2026-01-21 08:08:06'),(32,3,NULL,'嫄댄씗',0,'2026-01-21 08:08:06'),(33,4,30,'?몄듅',1,'2026-01-21 09:32:45'),(34,4,NULL,'移쒓뎄1',0,'2026-01-21 09:32:45'),(35,4,NULL,'移쒓뎄2',0,'2026-01-21 09:32:45');
/*!40000 ALTER TABLE `group_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `groups`
--

DROP TABLE IF EXISTS `groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `groups` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text,
  `icon` varchar(255) DEFAULT NULL,
  `invite_code` varchar(20) DEFAULT NULL,
  `owner_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `invite_code` (`invite_code`),
  KEY `owner_id` (`owner_id`),
  KEY `ix_groups_id` (`id`),
  CONSTRAINT `groups_ibfk_1` FOREIGN KEY (`owner_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groups`
--

LOCK TABLES `groups` WRITE;
/*!40000 ALTER TABLE `groups` DISABLE KEYS */;
INSERT INTO `groups` VALUES (1,'蹂쇰쭅??,NULL,'/icons/bowling.png','5A-0JEQY',1,'2026-01-20 11:42:12',NULL),(2,'5??4',NULL,'/icons/money.png','YJGA1CC5',1,'2026-01-20 11:43:29',NULL),(3,'紐곗엯罹좏봽',NULL,'/icons/work.png','MSBD7P5N',10,'2026-01-21 08:08:06',NULL),(4,'媛?ㅻ━',NULL,'/icons/sea.png','WYKIQ6PS',30,'2026-01-21 09:32:45',NULL);
/*!40000 ALTER TABLE `groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settlement_participants`
--

DROP TABLE IF EXISTS `settlement_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settlement_participants` (
  `id` int NOT NULL AUTO_INCREMENT,
  `settlement_id` int NOT NULL,
  `participant_id` int NOT NULL,
  `amount` decimal(12,2) DEFAULT NULL,
  `ratio` decimal(5,2) DEFAULT NULL,
  `amount_owed` decimal(12,2) NOT NULL,
  `is_paid` tinyint(1) DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `settlement_id` (`settlement_id`),
  KEY `participant_id` (`participant_id`),
  KEY `ix_settlement_participants_id` (`id`),
  CONSTRAINT `settlement_participants_ibfk_1` FOREIGN KEY (`settlement_id`) REFERENCES `settlements` (`id`),
  CONSTRAINT `settlement_participants_ibfk_2` FOREIGN KEY (`participant_id`) REFERENCES `group_participants` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=474 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settlement_participants`
--

LOCK TABLES `settlement_participants` WRITE;
/*!40000 ALTER TABLE `settlement_participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `settlement_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settlement_results`
--

DROP TABLE IF EXISTS `settlement_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settlement_results` (
  `id` int NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `debtor_participant_id` int NOT NULL,
  `creditor_participant_id` int NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `is_completed` tinyint(1) DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `calculation_batch` varchar(50) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `group_id` (`group_id`),
  KEY `debtor_participant_id` (`debtor_participant_id`),
  KEY `creditor_participant_id` (`creditor_participant_id`),
  KEY `ix_settlement_results_id` (`id`),
  CONSTRAINT `settlement_results_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups` (`id`),
  CONSTRAINT `settlement_results_ibfk_2` FOREIGN KEY (`debtor_participant_id`) REFERENCES `group_participants` (`id`),
  CONSTRAINT `settlement_results_ibfk_3` FOREIGN KEY (`creditor_participant_id`) REFERENCES `group_participants` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settlement_results`
--

LOCK TABLES `settlement_results` WRITE;
/*!40000 ALTER TABLE `settlement_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `settlement_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settlements`
--

DROP TABLE IF EXISTS `settlements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settlements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `payer_participant_id` int NOT NULL,
  `title` varchar(200) NOT NULL,
  `description` text,
  `total_amount` decimal(12,2) NOT NULL,
  `split_type` enum('EQUAL','AMOUNT','RATIO') DEFAULT NULL,
  `icon` varchar(255) DEFAULT NULL,
  `receipt_image` varchar(500) DEFAULT NULL,
  `is_settled` tinyint(1) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `group_id` (`group_id`),
  KEY `payer_participant_id` (`payer_participant_id`),
  KEY `ix_settlements_id` (`id`),
  CONSTRAINT `settlements_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `groups` (`id`),
  CONSTRAINT `settlements_ibfk_2` FOREIGN KEY (`payer_participant_id`) REFERENCES `group_participants` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settlements`
--

LOCK TABLES `settlements` WRITE;
/*!40000 ALTER TABLE `settlements` DISABLE KEYS */;
/*!40000 ALTER TABLE `settlements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_badges`
--

DROP TABLE IF EXISTS `user_badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_badges` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `badge_id` int NOT NULL,
  `group_id` int DEFAULT NULL,
  `earned_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `badge_id` (`badge_id`),
  KEY `group_id` (`group_id`),
  KEY `ix_user_badges_id` (`id`),
  CONSTRAINT `user_badges_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `user_badges_ibfk_2` FOREIGN KEY (`badge_id`) REFERENCES `badges` (`id`),
  CONSTRAINT `user_badges_ibfk_3` FOREIGN KEY (`group_id`) REFERENCES `groups` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_badges`
--

LOCK TABLES `user_badges` WRITE;
/*!40000 ALTER TABLE `user_badges` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_badges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `auth_provider` enum('EMAIL','GOOGLE') DEFAULT NULL,
  `google_id` varchar(100) DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `payment_account` varchar(100) DEFAULT NULL,
  `profile_photo_url` varchar(255) DEFAULT NULL,
  `full_body_photo_url` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_users_email` (`email`),
  UNIQUE KEY `google_id` (`google_id`),
  KEY `ix_users_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'1234@gmail.com','$2b$12$eFS7bK9S5UGrnnK47SNfyeklTueSb16Vrvsu3cMR2IcFLmA4aJSzG','?덉?','EMAIL',NULL,'kakaopay','','/uploads/0bc1ad1f-b91d-477d-ad09-0826c9cd0411.png','/uploads/eef43798-0f1e-4cb3-9e3a-6f59301c425e_full.png','2026-01-20 11:20:56','2026-01-20 11:37:52'),(2,'12345@gmail.com','$2b$12$b25FFhtWqU0tOZZt3p1ItOBeIIGuCsKuSdsPMGor0Ui6CKd.anH1S','?덉?','EMAIL',NULL,'kakaopay','',NULL,NULL,'2026-01-21 05:47:48',NULL),(3,'124@gmail.com','$2b$12$Aq5UNsEIMXv97Q90cFCMXOxtw6.UERecyJs8CuQiylq3ObqAOhaAi','wewt','EMAIL',NULL,'kakaopay','',NULL,NULL,'2026-01-21 05:57:18',NULL),(4,'fwefwe@gmail.com','$2b$12$r4VseFqTzfD/26hLJBUllut9T/XcybYapoJG.wm4plVAmkRP2w/ku','weffwe','EMAIL',NULL,'kakaopay','',NULL,NULL,'2026-01-21 06:08:44',NULL),(5,'123456@gmail.com','$2b$12$aAxW/JsqGMR70jI8/PbjFudRdU1JGovUih1EM49tOjo9PB2rjNdPm','fdwwef','EMAIL',NULL,'kakaopay','',NULL,NULL,'2026-01-21 06:09:36',NULL),(6,'888@gmail.com','$2b$12$ZjHkEyrN92LvUNDo1fH4OuRb6CPRvz5zObAZyViEJQwYuOfHkmcyq','we','EMAIL',NULL,'kakaopay','',NULL,NULL,'2026-01-21 06:22:18',NULL),(7,'000@gmail.com','$2b$12$H31.OocHDj2RJvY3OcaxMOWJe2JuQ2AzRIQ3dxnbxT4YdNCykAc2m','dd','EMAIL',NULL,'kakaopay','',NULL,NULL,'2026-01-21 06:27:07',NULL),(8,'we@gmail.com','$2b$12$xuQaIVjFg7zIq1DZswk.2OJj78ENMZJfDH7UgwAB.YparBBLwSsN2','we','EMAIL',NULL,'kakaopay','',NULL,NULL,'2026-01-21 06:46:13',NULL),(9,'111@gmail.com','$2b$12$.83DOFeKjqlEWCt6J90HoudrRp1LMVzvzNlZql4RZWjR7P3gH131G','gege','EMAIL',NULL,'kakaopay','','/uploads/6fc5e11e-4c53-49e8-96d1-0ac7c4353f95.png','/uploads/5425ce96-250c-4c29-982f-405059e9e281_full.png','2026-01-21 08:00:40','2026-01-21 08:01:15'),(10,'wnsgks@gmail.com','$2b$12$2xFP1OkgKvzpIIe22cgQI.uYlIYBNl/biFrt1qTlbtf3GBmHBF2xG','以??,'EMAIL',NULL,'kakaopay','','/uploads/37325f2f-3255-4d71-a4c1-47ddbea1ca1f.png','/uploads/417763c3-3b5a-472e-a1b3-12e1fcce765f_full.png','2026-01-21 08:02:27','2026-01-21 08:04:01'),(11,'wjddn@gmail.com','$2b$12$/VPZ0YAVXf7ob48Tfv6Y1eDzLgDC7eSkGWoc56UR7oZGajk.tSj2m','?뺤슦','EMAIL',NULL,'kakaopay','','/uploads/64b1e52a-3f00-4736-b4e2-6e5343a6b474.png','/uploads/3026caf7-fb95-4376-b5b4-c0042ea63866_full.png','2026-01-21 08:52:54','2026-01-21 08:53:32'),(12,'tjdus@gmail.com','$2b$12$y8y.jdPq0yAxmLT.MrOkT.dQOkoF6877/QZaPoxRhl25SF00O8p6S','?쒖뿰','EMAIL',NULL,'kakaopay','','/uploads/c611ed1c-3fca-4aa7-aa0f-619105b622f0.png','/uploads/3c9fb381-4ec7-4463-93b5-1bb684da5d42_full.png','2026-01-21 08:55:17','2026-01-21 09:01:20'),(13,'wlgns@gmail.com','$2b$12$tOlnDIVh0VhbVK9Cj0jIY.K3qWdxu5DDAcXH61/Gr/lUpBdBJXsna','吏??,'EMAIL',NULL,'kakaopay','','/uploads/76eef952-17cc-42a4-b0d2-9a5e95dfc5f4.png','/uploads/08c94121-9d9f-4b45-b24f-d7f1a0c35080_full.png','2026-01-21 09:02:13','2026-01-21 09:06:46'),(14,'salstjrtls@gmail.com','$2b$12$w6061Px1eYA0.6kv55ZNXeVLYXAmE6xRh0MOWT4oZDSlqSWchqZsa','誘쇱꽍(??','EMAIL',NULL,'kakaopay','',NULL,NULL,'2026-01-21 09:03:27',NULL),(15,'1111@gmail.com','$2b$12$dRocMZJeTIVT7sACa2DcTOZnYaReo9KkvUcyEqO84dSHvV.65OiYq','?좊???,'EMAIL',NULL,'kakaopay','','/uploads/7e24802b-1183-403a-bfa4-5fda65782511.png','/uploads/b98daac8-b327-43a3-ba2c-be5e8cbd9258_full.png','2026-01-21 09:04:55','2026-01-21 09:05:40'),(16,'alstjs@gmail.com','$2b$12$b.ousT25wVlit23xKmuPduiXoimbE3IlZz.kvUhKMDeySS6KhNHlu','?ㅻ???,'EMAIL',NULL,'kakaopay','',NULL,NULL,'2026-01-21 09:07:34',NULL),(17,'dbsalstjr@gmail.com','$2b$12$CVjb6k1ccnqjNXNpsVan1Ocr.JsMn9F1oGd6nC8m/c0fe.LHBBpUy','?ㅻ???,'EMAIL',NULL,'kakaopay','',NULL,NULL,'2026-01-21 09:08:28',NULL),(18,'0000@gmail.com','$2b$12$NOT8TyQyaR4jkErVGRyV9.BPXkfo5noPNmF48KeJoK2NLzTYqLBHi','?ㅻ???,'EMAIL',NULL,'kakaopay','','/uploads/90d49c3e-2704-4df1-917f-1b1a5831f301.png','/uploads/a0e2ae26-f99b-4ab6-b6fd-eaad65b2a974_full.png','2026-01-21 09:09:10','2026-01-21 09:10:35'),(19,'tmddns@gmail.com','$2b$12$0K2vIBfypL7gjaXfp2Bpt.npb5eKcrjOthqkUE9Navcir5Dn8FZTu','?뱀슫','EMAIL',NULL,'kakaopay','','/uploads/a54423c0-19a7-4e28-bb2f-61eb63ff7865.png','/uploads/0340d99c-110a-4e60-8a75-514715f5b784_full.png','2026-01-21 09:11:02','2026-01-21 09:11:30'),(20,'dnwn@gmail.com','$2b$12$LgFfee1Fc9E4Kofkbqd8e.iDbZPnWPZrHlIfrSp0UQUG9DpjumJaO','?곗＜','EMAIL',NULL,'kakaopay','','/uploads/db79be07-3871-44b5-a331-847b06f005ed.png','/uploads/84bd124f-637f-41d7-afe9-eab85eaeb826_full.png','2026-01-21 09:12:11','2026-01-21 09:12:49'),(21,'codnjs@gmail.com','$2b$12$BbgWQUw1YR4FavxemQ.4iueK.VPEeoCvRjvYgDgqjfWDKsMyFl80m','梨꾩썝','EMAIL',NULL,'kakaopay','','/uploads/698d3ec7-1017-4db1-bcb1-dc791eadda6c.png','/uploads/0b9da44f-76bd-4c44-a741-e685001f001a_full.png','2026-01-21 09:13:26','2026-01-21 09:14:11'),(22,'tkdqja@gmail.com','$2b$12$AMHLGH1XyuSpHlZEIwV76.YyJ33YBuumZOQa1CM9aXs8Brj4hzcMq','?곷쾾','EMAIL',NULL,'kakaopay','','/uploads/b5711e53-0c6f-417d-9593-f379d136c063.png','/uploads/3969f418-9d72-4054-9f8a-22865efa610f_full.png','2026-01-21 09:14:58','2026-01-21 09:15:34'),(23,'tjwls@gmail.com','$2b$12$xJAXavhYINXKn0IOPaNtSOcomOrMOPqouEI4nzfmNsLR8Mi2vGl8e','?쒖쭊','EMAIL',NULL,'kakaopay','','/uploads/a96be6e7-f5de-4f59-bfdc-b7e9ac339153.png','/uploads/eb57c2ca-16be-41fa-93e3-b60793d1b29a_full.png','2026-01-21 09:16:12','2026-01-21 09:16:44'),(24,'xodn@gmail.com','$2b$12$swN08gxtroRAw29EHm4El.AmFEJ7XzGbkNn6W/pgJk0Jlj/E6WVbq','?쒖슦','EMAIL',NULL,'kakaopay','','/uploads/6dc02c09-4070-47a6-8c4c-7f765b3607e1.png','/uploads/b0ba7467-e0f5-49ff-943f-2f03df3901e5_full.png','2026-01-21 09:17:38','2026-01-21 09:18:52'),(25,'thgus@gmail.com','$2b$12$L3MDkvcrOLiZXmZ8HF9W4eK1bKM3i1W.VUF7c/AhB101JGrEnEMmC','?뚰쁽','EMAIL',NULL,'kakaopay','','/uploads/0659a4bd-6fc6-4a4d-84f8-99729adc4f38.png','/uploads/58fcc257-8635-4a5e-a45f-b0bc8448f85d_full.png','2026-01-21 09:19:26','2026-01-21 09:20:56'),(26,'ehdgmlsla@gmail.com','$2b$12$Y8iiT.oeTNa.0sEOExSzhekj4O2ei/dX2Kb/Aj/7C/GhMwoIFNLfK','?숉씗??,'EMAIL',NULL,'kakaopay','','/uploads/d86cf07b-5d95-4bdd-8c58-6e45c60d4166.png','/uploads/867044ff-bd78-4e39-94a8-7fad16c692a2_full.png','2026-01-21 09:21:27','2026-01-21 09:22:15'),(27,'ehdgmldi@gmail.com','$2b$12$jBQGXfcBrfxGjUUsyq6oaOHa24NJJgzF1x.yimu6gxYPnIutbxfSO','?숉씗??,'EMAIL',NULL,'kakaopay','','/uploads/15b5b4a6-a484-4a4b-a54d-1bd1dd05f024.png','/uploads/212656e0-9856-46b6-8db3-923217189fec_full.png','2026-01-21 09:22:52','2026-01-21 09:23:24'),(28,'alsrl@gmail.com','$2b$12$XCxmhL/wzPSSmM.zbaL97.8tVLymegQ7qamZpfd.eFGJR/qFdS/LC','誘쇨린','EMAIL',NULL,'kakaopay','','/uploads/bb9c83d1-9013-4614-8d64-67952d16652d.png','/uploads/4db60c5e-698f-4797-b4bc-d2bc56e69941_full.png','2026-01-21 09:24:09','2026-01-21 09:24:39'),(29,'wnsdl@gmail.com','$2b$12$vt8ey9XXqWAIsljij7TW0.jLV8QYw1od4qkv/n6V8/zfrPygUqGwW','以??,'EMAIL',NULL,'kakaopay','','/uploads/8dd698fb-bc49-46e3-8f0f-96d22a4617f3.png','/uploads/6fe537ea-296b-42a4-b632-59b218a83695_full.png','2026-01-21 09:25:21','2026-01-21 09:26:09'),(30,'ghtmd@gmail.com','$2b$12$LQYHZodV9Z5hswL53Cs0IuaeZbP.PybiZca1CEca3CUF7V7MOAGDO','?몄듅','EMAIL',NULL,'kakaopay','','/uploads/07037776-73ba-4499-b0d5-cd30d9206409.png','/uploads/cb9bfd4a-2dd4-4164-8be4-d967ef0ea3bd_full.png','2026-01-21 09:28:44','2026-01-21 09:29:14');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-21 11:07:08
