# Python (Backend)
backend/venv/
backend/__pycache__/
backend/.env
*.pyc

# Node (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
mysql_data/